@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height:100%;
    background-image:linear-gradient(rgba(71, 66, 66, 0.8),rgba(61, 59, 59, 0.8)) ,url(container3.jpg);
    position:absolute;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: rgba(186, 181, 181, 0.829);

}
.logo{
   float: left;
   width: 100px;
   height: 80px;
   margin-right: 600px;
   cursor: pointer;
   margin-bottom: 10px;
}

.ul  {
    float: right;
}
ul li {
    display: inline-block;
   
    line-height: 80px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family:Roboto;
    font-size: 20px;
    padding: 6px 13px;
    transition: 2s;
    border-radius: 8px;

}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: #1580bd ;
    color:white ;
    border-radius: 8px;
}

.center{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   font-family: sans-serif;
   color: rgba(239, 236, 236, 0.9) ;
   user-select: none;
}
.center h1{
   font-size:30px ;
   
}
.center h2{
    font-size: 15px;
  
}
 
.buttons{
    width: 350px;
    height: 100px;
    margin-top: 50px;
}
.buttons button{
    width: 120px;
    height: 35px;
    color: rgba(239, 236, 236, 0.9);
    background-color: #1580bd ;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: 40px;
    transition: 2s;
}

.buttons button:hover{
    background:rgba(239, 236, 236, 0.9) ;
    color:#1580bd  ;
}
